<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Edit Card</title>
    </head>
    <body>
        <h1>Edit A Card</h1>
        <form action="/cards/<%=editCard._id%>" method="POST">
            <div>
                <label for="english">English</label>
                <!-- for in label has to match id below -->
                <textarea
                    class="form-control"
                    type="text"
                    id="english"
                    name="english"
                    placeholder="English"
                    value="<%=editCard.english%>"
                    required
                ></textarea>
            </div>
            <!-- How do we set the value on an input? We set the attribute called 'value' -->
            <div>
                <label for="spanish">Spanish</label>
                <textarea
                    placeholder="Spanish"
                    class="form-control"
                    type="text"
                    id="spanish"
                    name="spanish"
                    value="<%=editCard.spanish%>"
                    required
                ></textarea>
            </div>
            <div>
                <label for="hintOne">Hint One</label>
                <input
                    class="form-control"
                    type="text"
                    id="hintOne"
                    name="hintOne"
                    placeholder="Hint One"
                    value="<%=editCard.hintOne%>"
                    required
                />
            </div>
            <div>
                <label for="hintTwo">Hint Two</label>
                <input
                    class="form-control"
                    type="text"
                    id="hintTwo"
                    name="hintTwo"
                    placeholder="Hint Two"
                    value="<%=editCard.hintTwo%>"
                    required
                />
            </div>
            <button>Submit</button>
        </form>
        <a href="/cards">All Cards</a>
    </body>
</html>
