<% layout('/layouts/boilerplate') %>
<h1>View All</h1>

<form action="/cards/page/1">
    <select
        class="form-select"
        style="width: 15rem"
        aria-label="Default select example"
        name="selections"
        onchange="this.form.submit();"
    >
        <option selected>Open this select menu</option>
        <option value="3">3</option>
        <option value="6">6</option>
        <option value="9">9</option>
    </select>
    <!-- <div class="buttons mb-3"> -->
    <!-- <button class="btn btn-primary mb-3">Submit</button> -->
    <!-- </div> -->
</form>
<!--  -->
<% for(let allCard of allCards) { %>
<div class="card mb-3" style="width: 15rem">
    <div class="card-header">Card</div>
    <div class="card-body">
        <h3 class="card-text"><%= allCard.english%></h3>
        <h6 class="card-text"><%= allCard.number%></h6>
        <a href="/cards/<%=allCard._id%>" class="btn btn-primary">View Card</a>
    </div>
</div>
<% } %>

<div class="container text-center">
    <div class="pagination">
        <% if(page > 1) {%>
        <a
            class="btn btn-primary btn-outline-dark"
            id="butty"
            href="/cards/page/<%= (page-1) %>"
            role="button"
            >Back</a
        >
        <% } %>
        <!--  -->
        <% for(let i = 1; i <= roundedD; i++) {%>
        <!--  -->
        <% if(i < 0) { %>
        <a class="nathan" href="/cards" id="mainPage"></a>
        <% } else { %>
        <!-- <a
            class="btn btn-secondary btn-outline-dark"
            role="button"
            href="/cards/page/<%= i %>"
            ><%= i %></a
        > -->
        <% }} %>
        <!--  -->
        <% let i = (Number(current) > 3 ? Number(current) - 2 : 1) %>
        <% if (i !== 1) { %>
        <li class="disabled"><a>...</a></li>
        <% } %>
        <!--  -->
        <% for (; i <= (Number(current) + 2) && i <= pages; i++) { %>
        <!--  -->
        <%if (i == current) { %>
        <li class="active btn btn-secondary btn-outline-dark" role="button">
            <a><%= i %></a>
        </li>
        <% } else { %>
            <a
                class="btn btn-secondary btn-outline-dark"
                role="button"
                href="/cards/page/<%= i %>"
                ><%= i %>
            </a>
        <% } %>
        <!--  -->
        <% if (i == Number(current) + 2 && i < pages) { %>
        <li class="disabled"><a>...</a></li>
        <% } %>
        <!--  -->
        <% } %>

        </li>

        <% if(!page && !selection) { %>
        <!-- || page <= roundedD Adding above brings back to 1STpg after clicking NEXT until end -->
        <a
            class="btn btn-primary btn-outline-dark"
            role="button"
            href="/cards/page/1"
            >Next C</a
        >
        <!-- <% } else if (selection) { %>
            <a class="btn btn-warning btn-outline-dark" role="button" href="/cards/page/<%= (page + 1) %>">Next B</a> -->

        <% } else if (roundedD < (page + 1)) { %>
        <a
            class="btn btn-primary btn-outline-dark"
            id="butty"
            href="/cards/page/<%= (page+1) %>"
            role="button"
            hidden
            >Next E</a
        >

        <% } else {%>
        <a
            class="btn btn-danger btn-outline-dark"
            id="butty"
            href="/cards/page/<%= (page+1) %>"
            role="button"
            >Next D</a
        >
        <% } %>
    </div>
    <%console.log("payyyyge: " + page)%>
    <%console.log("RANDOd: " + roundedD)%>
</div>
<!-- https://www.udemy.com/course/the-web-developer-bootcamp/learn/lecture/22291784#questions/1464534 -->

<% if (pages > 0) { %>
<ul class="pagination text-center">
    <% if (current == 1) { %>
    <li class="disabled"><a>First</a></li>
    <% } else { %>
    <li><a href="/cards/page/1">First</a></li>
    <% } %>
    <% if (current == pages) { %>
    <li class="disabled"><a>Last</a></li>
    <% } else { %>
    <li><a href="/cards/page/<%= pages %>">Last</a></li>
    <% } %>
</ul>
<% } %>

<a href="/cards/new">Make Card</a>
