<% layout('/layouts/boilerplate') %>
<h1>View All</h1>
<% for(let allCard of allCards) { %>
<h3><a href="/cards/<%=allCard._id%>"><%= allCard.english%></a></h3>
<!-- <h4><%= allCard.spanish%></h4>
        <h5><%= allCard.hintOne%></h5>
        <h5><%= allCard.hintTwo%></h5> -->
<% } %>
<a href="/cards/new">Make Card</a>
