<% layout('/layouts/boilerplate') %>
<h1>View All</h1>
<% for(let allCard of allCards) { %>
<div class="card mb-3" style="width: 15rem">
    <div class="card-header">Card</div>
    <div class="card-body">
        <h3 class="card-text"><%= allCard.english%></h3>
        <h6 class="card-text"><%= allCard.number%></h6>
        <a href="/cards/<%=allCard._id%>" class="btn btn-primary">View Card</a>
    </div>
</div>
<% } %>

<div class="container text-center">
    <div class="pagination">
        <% let num = 0 %>
        <!-- <li> -->
        <!-- <li> -->

        <% for(let i = 0; i < roundedD; i++) {%>

        <!-- ff -->
        <% if(i === 0) { %>
        <a
            class="btn btn-primary btn-outline-dark"
            id="butty"
            href="/cards/page/<%= (page-1) %>"
            role="button"
            >Back</a
        >
        <!-- <li> -->
        <a class="nathan" href="/cards" id="mainPage"></a>
        <!-- </li> -->
        <% } else { %>
        <!-- <li> -->
        <a
            class="btn btn-secondary btn-outline-dark"
            role="button"
            href="/cards/page/<%= i %>"
            ><%= i %></a
        >
        <% }} %>
        <!-- </li> -->
        <% if(!page) { %>
        <!-- d -->
        <% console.log("NaN true") %>
        <a
            class="btn btn-primary btn-outline-dark"
            role="button"
            href="/cards/page/1"
            >Next</a
        >
        <!-- </li> -->
        <% } else {%>

        <a
            class="btn btn-primary btn-outline-dark"
            id="butty"
            href="/cards/page/<%= (page+1) %>"
            role="button"
            >Next</a
        >

        <!-- </li> -->
        <% } %>
    </div>
</div>

<!-- https://www.udemy.com/course/the-web-developer-bootcamp/learn/lecture/22291784#questions/1464534 -->

<a href="/cards/new">Make Card</a>
