<% layout('/layouts/boilerplate') %>
<h1>My Cards</h1>
<div class="card-body">
            <% for(let theCards of myCards) { %>
              <% if(currentUser._id == theCards.author.id){ %>
                <div class="card mb-3" style="width: 15rem">
                  <div class="card-header">Card</div>
                  <div class="card-body">
                      <h3 class="card-text"><%= theCards.english%></h3>
                      <h6 class="card-text">Author: <%= theCards.author.username%></h6>
                      <a href="/cards/<%=theCards._id%>" class="btn btn-primary">View Card</a>
                  </div>

              </div>
              <% }} %>

              <% for(let showThems of showHim) {%>
                <!-- console.log('curentUZER: ' +currentUser.id) %> -->
                <!--  -->
                <% console.log("ADDEDc: " +showThems.addedCard) %>
<% let y = showThems.addedCard %>
<% console.log("INCLUDES: " +y.includes(currentUser.id)) %>

                <!-- console.log("XXXXX: " +showThems.nowUser._id) -->
                 <!-- console.log("showHIM: " + showHim) %> -->
                <!-- console.log("showThems_Id: " +showThems._id) -->
                <!-- for(let x of showThems.addedCard){ %> -->
                  <!-- console.log("her is x: " +x) %> -->
                  <!-- console.log("her is INDEx: " +Object.values(x)) %> -->
                  <!-- console.log("her is arrary: " +(x.toString())) %> -->
                  <!-- } %> -->
                <!--  -->
              <% if(currentUser.id == showThems.addedCard || y.includes(currentUser.id) == true) { %>

                  <!--  -->
                   <!-- let b = showThems.addedCard %>  -->
                <!--  -->
                <div class="card mb-3" style="width: 15rem">
                    <div class="card-header">Card</div>
                    <div class="card-body">
                        <h3 class="card-text"><%= showThems.english%></h3>
                        <h6 class="card-text">Author: <%= showThems.originalAuthor %></h6>
                        <a href="/cards/<%=showThems.addedCard._id%>" class="btn btn-primary"
                            >View Card</a
                        >
                        <!-- <h3 class="card-text"> showThems.nowUser._id</h3> -->
                    </div>
                </div>
                <% }} %>

<% console.log('break') %>
  </div>
</div>
</div>
