<% layout('/layouts/boilerplate') %>
<h1>My Cards</h1>
<div class="card-body">
            <% for(let theCards of myCards) { %>
              <% if(currentUser._id == theCards.author.id){ %>
                <div class="card mb-3" style="width: 15rem">
                  <div class="card-header">Card</div>
                  <div class="card-body">
                      <h3 class="card-text"><%= theCards.english%></h3>
                      <h6 class="card-text">Author: <%= theCards.author.username%></h6>
                      <a href="/cards/<%=theCards._id%>" class="btn btn-primary">View Card</a>
                  </div>

              </div>
              <% }} %>

              <% for(let showThems of showHim) {%>
                <!--  -->
               <!-- console.log("ADDEDc: " +showThems) %> -->
                <% let y = showThems.addedCard %>
              <% if(currentUser.id == showThems.addedCard || y.includes(currentUser.id) == true) { %>
                  <!--  -->
                   <!-- let b = showThems.addedCard %>  -->
                <!--  -->
                <div class="card mb-3" style="width: 15rem">
                    <div class="card-header">Card</div>
                    <div class="card-body">
                        <h3 class="card-text"><%= showThems.english%></h3>
                        <h6 class="card-text">Author: <%= showThems.author.username %></h6>
                         <!-- console.log("showThems.addedCard._id: " +showThems) %> -->
                        <a href="/cards/<%=showThems.id%>" class="btn btn-primary"
                            >View Card</a
                        >
                        <!-- <h3 class="card-text"> showThems.nowUser._id</h3> -->
                    </div>
                    <!-- <a href="" class="">Remove Added Card</a> -->
                      <!-- console.log("show ID: " +showThems._id) %> -->

                      <form
                      class="d-inline"
                     action="/cards/myCards/<%=showThems.id%>?_method=PUT"
                      method="POST"
                  >
                      <button class="btn">Remove Card</button>
                  </form>

                  <!-- <div class="col-md-6 offset-md-3">
                    <form
                        action="/cards/%=newCard._id%>?_method=PUT"
                        method="POST"
                        class="validated-form"
                        novalidate
                    > -->



                  <!-- <form action="/cards/myCards">
                  <div class="form-check">
                      <input class="form-check-input" type="checkbox" value="%=showThems._id%>" id="flexCheckDefaults" name="remover" onchange="this.form.submit();">
                      <label class="form-check-label" for="flexCheckDefault">
                        Default checkbox
                      </label>
                  </div>
                  </form> -->

                </div>
                <% }} %>



<% console.log('break') %>
  </div>
</div>
</div>
