<% layout('/layouts/boilerplate') %>
<h1>My Cards</h1>
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <form class="d-flex" role="search">
            <!-- <form action="/cards/myCards"> THIS WILL REDIRECT-->
            <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
                name="searchy"
            />
            <button class="btn btn-outline-success" type="submit">
                Search
            </button>
            <a href="/cards/myCards" class="btn btn-outline-success">Clear</a>
        </form>
    </div>
</nav>
<% for(let theCards of myCards) { %>
<!--  -->
<% let hi = theCards.toString() %>
<!--  -->
<% let h = hi.toLowerCase() %>
<!--  -->
<% let w = h.includes(userSearch)%>
<!--  -->
<% let bur = (currentUser._id == theCards.author.id) %>
<!--  -->
<% console.log('what is W: ' + w) %>
<!--  -->
<% if(currentUser._id == theCards.author.id && w){ %>
<div class="card mb-3" style="width: 15rem">
    <div class="card-header">Card</div>
    <div class="card-body">
        <h3 class="card-text"><%= theCards.english%></h3>
        <h6 class="card-text">Author: <%= theCards.author.username%></h6>
        <a href="/cards/<%=theCards._id%>" class="btn btn-primary">View Card</a>
    </div>
    <form action="/cards/myCards">
        <% let zulu = theCards._id%>
        <!--  -->
        <% let hye = ill.includes(zulu)%>
        <!--  -->
        <% if(hye == false) {%>
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                name="checkTester"
                value="<%=theCards._id%>"
                onchange="this.form.submit();"
            />
            <label class="form-check-label" for="flexCheckDefault">
                Test Card
            </label>
        </div>
        <% } else { %>
        <div class="form-check">
            <h6>Added To Test</h6>
        </div>
        <%}%>
    </form>
    <div>
        <a href="/cards/<%=theCards._id%>" class="btn">Remove Card</a>
    </div>
</div>
<hr />
<% }} %>
<!--  -->
<% for(let showThems of showHim) {%>
<!--  -->
<% let o = showThems.addedCard %>
<!--  -->
<% let pit = showThems.toString() %>
<!--  -->
<% let pitt = pit.toLowerCase() %>
<!--  -->
<% let u = pitt.includes(userSearch) %>
<!--  -->
<% if((currentUser.id == o || o.includes(currentUser.id) == true) && u) { %>
<div class="card mb-3" style="width: 15rem">
    <div class="card-header">Card</div>
    <div class="card-body">
        <h3 class="card-text"><%= showThems.english%></h3>
        <h6 class="card-text">Author: <%= showThems.author.username %></h6>
        <a href="/cards/<%=showThems.id%>" class="btn btn-primary"
            >View Card
        </a>
    </div>
    <form action="/cards/myCards">
        <% let hulu = showThems._id%>
        <!--  -->
        <% let bye = ill.includes(hulu)%>
        <!--  -->
        <% if(bye == false) {%>
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                name="checkTester"
                value="<%=showThems._id%>"
                onchange="this.form.submit();"
            />
            <label class="form-check-label" for="flexCheckDefault">
                Test Card
            </label>
        </div>
        <% } else { %>
        <div class="form-check">
            <h6>Added To Test</h6>
        </div>
        <%}%>
    </form>
    <form
        class="d-inline"
        action="/cards/myCards/<%=showThems.id%>?_method=PUT"
        method="POST"
    >
        <button class="btn">Remove Card</button>
    </form>
</div>
<hr />
<% }} %>
<!--  -->
<% for(let theCards of myCards) { %>
<!--  -->
<% let hi = theCards.toString() %>
<!--  -->
<% let h = hi.toLowerCase() %>
<!--  -->
<% let w = h.includes(userSearch)%>
<!-- "whatW: " +w %> -->
<!--  -->
<% if (currentUser._id == theCards.author.id && w == false) { %>
<div class="card mb-3" style="width: 15rem">
    <div class="card-header">Card</div>
    <div class="card-body">
        <h3 class="card-text"><%= theCards.english%></h3>
        <h6 class="card-text">Author: <%= theCards.author.username%></h6>
        <a href="/cards/<%=theCards._id%>" class="btn btn-primary">View Card</a>
    </div>
    <form action="/cards/myCards">
        <% let zulu = theCards._id%>
        <!--  -->
        <% let hye = ill.includes(zulu)%>
        <!--  -->
        <% if(hye == false) {%>
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefault"
                name="checkTester"
                value="<%=theCards._id%>"
                onchange="this.form.submit();"
            />
            <label class="form-check-label" for="flexCheckDefault">
                Test Card
            </label>
        </div>
        <% } else { %>
        <div class="form-check">
            <h6>Added To Test</h6>
        </div>
        <%}%>
    </form>
    <div>
        <a href="/cards/<%=theCards._id%>" class="btn">Remove Card</a>
    </div>
</div>
<% }} %>
<!--  -->
<% for(let showThems of showHim) {%>
<!--  -->
<% let o = showThems.addedCard %>
<!--  -->
<% let pit = showThems.toString() %>
<!--  -->
<% let pitt = pit.toLowerCase() %>
<!--  -->
<% let u = pitt.includes(userSearch) %>
<!--  -->
<% let t = o.includes(currentUser.id) %>
<!--  -->
<% if((currentUser.id == o || t == true) && u == false) { %>
<div class="card mb-3" style="width: 15rem">
    <div class="card-header">Card</div>
    <div class="card-body">
        <h3 class="card-text"><%= showThems.english%></h3>
        <h6 class="card-text">Author: <%= showThems.author.username %></h6>
        <a href="/cards/<%=showThems.id%>" class="btn btn-primary"
            >View Card
        </a>
    </div>
    <form action="/cards/myCards">
        <% let hulu = showThems._id%>
        <!--  -->
        <% let bye = ill.includes(hulu)%>
        <!--  -->
        <% if(bye == false) {%>
        <div class="form-check">
            <input
                class="form-check-input"
                type="checkbox"
                id="flexCheckDefaultz"
                name="checkTester"
                value="<%=showThems._id%>"
                onchange="this.form.submit();"
            />
            <label class="form-check-label" for="flexCheckDefault">
                Test Card
            </label>
        </div>
        <% } else { %>
        <div class="form-check">
            <h6>Added To Test</h6>
        </div>
        <%}%>
    </form>
    <form
        class="d-inline"
        action="/cards/myCards/<%=showThems.id%>?_method=PUT"
        method="POST"
    >
        <button class="btn">Remove Card</button>
    </form>
</div>
<% }} %>
