<% layout('/layouts/boilerplate') %>
<div>
    <h3><%= card.english%></h3>
    <h4><%= card.spanish%></h4>
    <h5><%= card.hintOne%></h5>
    <h5><%= card.hintTwo%></h5>
</div>
<a href="/cards">All Cards</a>
<a href="/cards/<%=card._id%>/edit">Edit Card</a>
<form action="/cards/<%=card._id%>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<!-- CAN ONLY DO GET OR POST -->
