<% layout('/layouts/boilerplate') %>
<div class="card" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">Idiom</h5>
        <p class="card-text"><%= card.english%></p>
        <hr />
        <p class="card-text"><%= card.spanish%></p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item"><%= card.hintOne%></li>
        <li class="list-group-item"><%= card.hintTwo%></li>
    </ul>
    <div class="card-body">
        <a href="/cards" class="card-link btn btn-secondary">All Cards</a>
        <a href="/cards/<%=card._id%>/edit" class="card-link btn btn-secondary"
            >Edit</a
        >
        <form
            class="d-inline"
            action="/cards/<%=card._id%>?_method=DELETE"
            method="POST"
        >
            <button class="btn btn-secondary">Delete</button>
        </form>
    </div>
</div>
<!-- CAN ONLY DO GET OR POST -->
