<% layout('/layouts/boilerplate') %>
<h1>Test</h1>
<select class="form-select" aria-label="Default select example">
    <option selected>Select How Many Cards</option>
    <option value="all">All</option>
    <option value="5">5</option>
    <option value="10">10</option>
</select>
<br />
<a
    class="btn btn-primary btn-outline-dark"
    id="butty"
    href="/cards/test/start"
    role="button"
    >Start Test</a
>

<% for(let randomDoc of randomDocs) { %>
<!-- You had to do 'toString' cuz it wasnt iterrating. As a result it was constantly reading the includes as 'false' -->
<% let o = randomDoc.addedCard %>
<!--  -->
<% let p = o.toString() %>
<!--  -->
<% let i = p.includes(userIdNum) %>
<br />
<% let v = randomDoc.author %>
<!--  -->
<% let n = v.equals(userIdNum) %>
<!--  -->
<%= ('Herre is randoDoc: ' + randomDoc._id) %>
<div class="card" style="width: 18rem">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <h3 class="card-text"><%= randomDoc.english%></h3>
    </div>
    <!-- <div class="card"> -->
    <div class="card-body">
        <button
            type="button"
            class="btn btn-lg btn-outline-secondary"
            data-bs-toggle="popover"
            data-bs-title="The Answer"
            data-bs-content="<%= randomDoc.spanish%>"
        >
            Answer
        </button>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <button
                type="button"
                class="btn btn-lg"
                data-bs-toggle="popover"
                data-bs-title="Hint One"
                data-bs-content="<%= randomDoc.hintOne%>"
            >
                Hint One
            </button>
        </li>
        <li class="list-group-item">
            <button
                type="button"
                class="btn btn-lg"
                data-bs-toggle="popover"
                data-bs-title="Hint Two"
                data-bs-content="<%= randomDoc.hintTwo%>"
            >
                Hint Two
            </button>
        </li>
    </ul>
    <% console.log("RandD: " +randomDoc.id) %>
    <div class="card-body">
        <a href="/cards" class="card-link">All Cards</a>
        <form
            class="d-inline"
            action="/cards/tested/<%=randomDoc.id%>?_method=PUT"
            method="POST"
        >
            <button class="btn">Remove</button>
        </form>
        <a href="/cards/test" class="card-link">Next Card</a>
    </div>
</div>

<% } %>
<!-- < } %> -->
<!-- https://www.youtube.com/watch?v=HWeU6iE9NIg
https://getbootstrap.com/docs/5.2/components/popovers/ -->
<br />
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
</nav>
