<% layout('/layouts/boilerplate') %>
<h1>All Campgrounds</h1>
<div>
    <a href="/campgrounds/new">Add Camp</a>
</div>
<% for (let campground of campgrounds) { %>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <% if(campground.images.length) {%>
            <img class="img-fluid" alt="" src="<%=campground.images[0].url%>" />
            <% }else { %>
            <img
                class="img-fluid"
                alt=""
                src="https://res.cloudinary.com/dmjfoztry/image/upload/v1661688590/YelpCamp/tomut7u5lpu2amgykmae.jpg"
            />
            <% } %>
        </div>
        <div class="col-md-8">
            <div class="cardbody">
                <h5 class="card-title"><%=campground.title%></h5>
                <p class="card-text"><%=campground.description%></p>
                <p class="card-text">
                    <small class="text-muted"><%=campground.location%></small>
                </p>
                <a
                    class="btn btn-primary"
                    href="/campgrounds/<%=campground._id%>"
                    >View <%=campground.title%></a
                >
            </div>
        </div>
    </div>
</div>
<% } %>
