<% layout('/layouts/boilerplate')%>
<h1>All Cards</h1>
<div>
    <a href="/cards/new">Add Card</a>
</div>
<% for (let viewCards of viewAllCamp) {%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img class="img-fluid" alt="" src="<%=viewCards.image%>" />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%=viewCards.card%></h5>
                <h5 class="card-title"><%= viewCards.english %></h5>
                <h5 class="card-title"><%= viewCards.spanish %></h5>
                <a class="btn btn-primary" href="/cards/<%= viewCards._id%>"
                    >View Card</a
                >
            </div>
        </div>
    </div>
</div>
<%}%>

<!-- <ul>
    <% for (let viewCards of viewAllCamp) {%>
    <li>
        <a href="/cards/<%= viewCards._id%>"> <%=viewCards.card%></a>
        <a href="/cards/<%= viewCards._id%>"
            ><%= viewCards.english %> <%= viewCards.spanish %></a
        >
    </li>

    <%}%>
</ul> -->
