<% layout('/layouts/boilerplate')%>
        <!-- <img src="<%=viewCampId.image%>" alt="..."> -->
        <h1><%= viewCampId.card %></h1>
        <h2><%= viewCampId.hint %></h2>
        <h1><%= viewCampId.english %></h1>
        <h1><%= viewCampId.spanish %></h1>
        <h2><%= viewCampId.hintOne %></h2>
        <h2><%= viewCampId.hintTwo %></h2>
        <p>
            <a href="/cards/<%=viewCampId._id%>/edit">Edit</a>
        </p>
        <p>
          <form action="/cards/<%=viewCampId._id%>?_method=DELETE" method="POST">
          <button>Delete</button>
          </form>
        </p>
        <footer>
            <a href="/cards/">All Cards</a>
        </footer>

