<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Show</title>
    </head>
    <body>
        <h1><%= viewCampId.card %></h1>
        <h1><%= viewCampId.hint %></h1>
        <h1><%= viewCampId.english %></h1>
        <h1><%= viewCampId.spanish %></h1>
        <h1><%= viewCampId.hintOne %></h1>
        <h1><%= viewCampId.hintTwo %></h1>
        <p>
            <a href="/cards/<%=viewCampId._id%>/edit">Edit</a>
        </p>
        <footer>
            <a href="/cards/">All Cards</a>
        </footer>
    </body>
</html>
