<% layout('/layouts/boilerplate') %>
<h2>Edit Card</h2>
<form
    action="/cards/<%= newCard._id %>?_method=PUT"
    method="POST"
    class="validate-form"
    nonvalidate
>
    <div>
        <label for="title">Title</label>
        <input
            name="newCard[title]"
            class="form-control"
            type="text"
            id="makeTitle"
            placeholder="Title"
            value="<%= newCard.title%>"
            required
        />
        <div class="valid-feedback">Good Title</div>
    </div>
    <div>
        <label for="price">Price</label>
        <input
            name="newCard[price]"
            class="form-control"
            type="number"
            id="makePrice"
            placeholder="Price"
            value="<%= newCard.price%>"
            required
        />
        <div class="valid-feedback">Good Price</div>
    </div>
    <div>
        <label for="title">Description</label>
        <input
            name="newCard[description]"
            class="form-control"
            type="text"
            id="makeDescription"
            placeholder="Description"
            value="<%= newCard.description%>"
            required
        />
        <div class="valid-feedback">Good Description</div>
    </div>
    <button>Submit</button>
</form>
<a href="/cards">All Cards</a>
<a href="/cards/<%= newCard._id%>">Back To Card</a>
