<div>
    <h4><%= cardz.title %></h4>
    <h5><%= cardz.price %></h5>
    <h4><%= cardz.description %></h4>
</div>
<form action="/cards/<%= cardz._id %>?_method=DELETE" method="POST">
    <button>Delete</button>
</form>
<a href="/cards/<%= cardz._id%>/edit">Edit</a>
<a href="/cards">All Cards</a>
