<% layout('/layouts/boilerplate')%>
<div class="row">
    <h1 class="text-center">Edit Travel</h1>
    <div class="col-6 offset-3">
        <form
            action="/travel/<%=editTravel._id%>?_method=PUT"
            method="POST"
            novalidate
            class="validated-form"
        >
            <div class="mb-3">
                <label class="form-label" for="travel">Title</label>
                <input
                    class="form-control"
                    type="text"
                    id="title"
                    name="travel[title]"
                    value="<%=editTravel.title%>"
                    required
                />
                <div class="valid-feedback">Looks Edited</div>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea
                    class="form-control"
                    type="text"
                    id="description"
                    name="travel[description]"
                    required
                >
<%=editTravel.description%></textarea
                >
                <div class="valid-feedback">Looks Edited</div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="location">Location</label>
                <input
                    class="form-control"
                    type="text"
                    id="location"
                    name="travel[location]"
                    value="<%=editTravel.location%>"
                    required
                />
                <div class="valid-feedback">Looks Edited</div>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image URL</label>
                <input
                    class="form-control"
                    type="text"
                    id="image"
                    name="travel[image]"
                    value="<%=editTravel.image%>"
                />
                <div class="valid-feedback">Looks Edited</div>
            </div>
            <div class="mb-3">
                <button class="btn btn-success">Update Travel</button>
            </div>
            <div>
                <a href="/travel/<%= editTravel._id%>">Back to Travel</a>
            </div>
            <div>
                <a href="/travel/">All Travels</a>
            </div>
        </form>
    </div>
</div>
