<% layout('/layouts/boilerplate')%>
<h1>All Travels</h1>
<div>
    <a href="/travel/new">Add Travel</a>
</div>
<% for (let viewTravels of viewAllTravel) {%>
<div class="card" mb-3>
    <div class="row">
        <div class="col-md-4">
            <img
                class="img-fluid"
                alt=""
                src="<%= viewTravels.images[0].url%>"
            />
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title"><%=viewTravels.title%></h5>
                <h5 class="card-title"><%= viewTravels.location %></h5>
                <h5 class="card-title"><%= viewTravels.description %></h5>
                <a class="btn btn-primary" href="/travel/<%= viewTravels._id%>"
                    >View Travel</a
                >
            </div>
        </div>
    </div>
</div>
<%}%>
