<% layout('/layouts/boilerplate')%>
<!-- <div class="card" style="width: 18rem;"> HE REMOVES THE WIDTH-->
<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <img src="<%=viewTravelId.image%>" class="card-img-top" alt="..." />
            <div class="card-body">
                <h5 class="card-title"><%=viewTravelId.title%></h5>
                <p class="card-text"><%=viewTravelId.description%></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><%=viewTravelId.location%></li>
            </ul>
            <div class="card-body">
                <a
                    href="/travel/<%=viewTravelId._id%>/edit"
                    class="card-link btn btn-primary"
                    >Edit</a
                >
                <form
                    class="d-inline"
                    action="/travel/<%=viewTravelId._id%>?_method=DELETE"
                    method="POST"
                >
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
        <footer>
            <a href="/travel/">All Travels</a>
        </footer>
    </div>
    <h2>Leave Review</h2>
    <form
        action="/travel/<%=viewTravelId._id%>/reviews"
        method="POST"
        class="mb-3 validated-form"
        novalidate
    >
        <div class="mb-3">
            <label for="rating" class="form-label">Rating</label>
            <input
                type="range"
                min="1"
                max="5"
                class="form-range"
                name="review[rating]"
                id="rating"
            />
        </div>
        <div class="mb-3">
            <label class="form-label" for="body">Review</label>
            <textarea
                name="review[body]"
                id="body"
                cols="30"
                rows="3"
                class="form-control"
            ></textarea>
            <div class="validate-feedback">Looks Aight!</div>
        </div>
        <button class="btn btn-success">Submit</button>
    </form>
</div>

<!-- ORIGINAL -->
<!-- <img src="<%=viewTravelId.image%>" alt="...">
        <h1><%= viewTravelId.title %></h1>
        <h2><%= viewTravelId.description %></h2>
        <h1><%= viewTravelId.location %></h1>
        <p>
            <a href="/travel/<%=viewTravelId._id%>/edit">Edit</a>
        </p>
        <p>
          <form action="/travel/<%=viewTravelId._id%>?_method=DELETE" method="POST">
          <button>Delete</button>
          </form>
        </p>
        <footer>
            <a href="/travel/">All Travels</a>
        </footer> -->
